.Login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn{
        width: 100%;
    }
    .error-div{
        height: 2rem;
        color: red;
    }
    .disclaimer{
        border: 1px solid black;
        padding: .2rem;
    }

}